# IntelliJ IDEA
/.idea/
*.iml

# Android/Gradle
**/build/
.gradle/
local.properties
.externalNativeBuild
.cxx
/captures

# Gradle wrapper
/gradlew
/gradlew.bat
/gradle-wrapper.jar
/gradle-wrapper.properties

# macOS
.DS_Store

# Sentry
sentry.properties

# Temporary files
*.tmp
*.bak
*.swp

# Kotlin
*.kts
*.kt.cls

# Project-specific files
deviceManager.xml
Project_Default.xml
Project.xml
compiler.xml